* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: chocolate;
    position: relative;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content{
    height: 100%;
    width: 100%;
    background-color: rgb(188, 143, 143);
    position: relative;
    z-index: 2;
    
}