* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
}
@font-face {
  font-family: susBook;
  src: url("./Assets/Fonts/SuisseIntl-Book-WebXL.ttf");
}
@font-face {
  font-family: PPregular;
  src: url("./Assets/Fonts/PPMori-Regular.ttf");
}

.main {
  background-color: #0f0d0d;
  min-height: 100vh;
  width: 100%;
}

.page1 {
  min-height: 100vh;
  width: 100%;
}

#nav {
  height: 65px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
}
#nav img {
  height: 30px;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
#nav #circle {
  height: 1.2vw;
  width: 1.2vw;
  background-color: darkorange;
  border-radius: 50%;
}

#nav h4 {
  font-size: 19px;
  font-weight: 100;
  font-family: susBook;
}

#nav h4:nth-child(1) {
  border-bottom: 2px solid white;
}

.page1 h1 {
  font-size: 7vw;
  font-family: PPregular;
  font-weight: 400;
  margin-top: 12vw;
  text-align: center;
}
.page1 h2 {
  font-size: 7vw;
  font-family: PPregular;
  font-weight: 400;
  text-align: center;
}
.page1 p {
  margin-top: 2vw;
  text-align: center;
  font-family: susBook;
  font-size: 2.9vh;
  width: 50%;
  margin-left: 25vw;
}

.page1 video {
  width: 60%;
  margin-top: 10vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.page2 {
  min-height: 100vh;
  width: 100%;
  padding: 5vw 5.2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page2 h1 {
  font-size: 5vw;
  font-family: PPregular;
  font-weight: 400;
  margin-bottom: 3vw;
  text-align: left;
}

.page2-container {
  display: flex;
  gap: 5vw;
  width: 100%;
}

.page2-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.page2-left h2 {
  font-size: 3vw;
  font-family: PPregular;
  font-weight: 400;
  line-height: 1.2;
}

.page2-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page2-right p {
  font-family: susBook;
  font-size: 1.2vw;
  line-height: 1.6;
  margin-bottom: 3vw;
}

.page2-right button {
  padding: 1vw 2vw;
  background-color: darkorange;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1vw;
  font-family: susBook;
  color: white;
  width: fit-content;
}


