* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: susBook;
  src: url("./Assets/Fonts/SuisseIntl-Book-WebXL.ttf");
}
@font-face {
  font-family: PPregular;
  src: url("./Assets/Fonts/PPMori-Regular.ttf");
}

.main {
  background-color: #0f0d0d;
}

.page1 {
  min-height: 100vh;
  width: 100%;
}

#nav {
  height: 65px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
}
#nav img {
  height: 30px;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
#nav #circle {
  height: 1.2vw;
  width: 1.2vw;
  background-color: darkorange;
  border-radius: 50%;
}

#nav h4 {
  font-size: 19px;
  font-weight: 100;
  font-family: susBook;
}

#nav h4:nth-child(1) {
  border-bottom: 2px solid white;
}

.page1 h1 {
  font-size: 7vw;
  font-family: PPregular;
  font-weight: 400;
  margin-top: 12vw;
  text-align: center;
}
.page1 h2 {
  font-size: 7vw;
  font-family: PPregular;
  font-weight: 400;
  text-align: center;
}
.page1 p {
  margin-top: 2vw;
  text-align: center;
  font-family: susBook;
  font-size: 2.5vh;
  width: 50%;

  margin-left: 25vw;
}

.page1 video{
    width: 60%;
    margin-left: 20%;
    margin-top: 10vw;
}
