* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #fff;
}

.section1{
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
}
nav i{
    margin-right: 15px;
}

.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:80px
}

nav h1{
    font-size: 50px;
}

nav h4{
    font-size: 30px;
    font-weight: 500;
}

nav button{
    padding: 22px 40px;
    border-radius: 15px;
    font-weight: 400;
    border: 1px solid #000 ;
    font-size: 22px;
    background-color: transparent;
}