* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main{
  height: 100vh;
  width: 100%;
  background-color: black;
}


#back{
  height: 100vh;
  width: 100%;
  background-color: rgb(49, 171, 165);
}
#top{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(194, 98, 98);
}

