* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: gilroy;
  src: url("./Gilroy-Medium.ttf");
}

#main {
  height: 100vh;
  width: 100%;
  background-color: black;
}

#back {
  height: 100vh;
  width: 100%;
  background-color: rgb(49, 171, 165);
}
#top {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(46, 126, 144);
}
#workingarea {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  max-width: 1920px;
  background-color: darkgoldenrod;
  border: 1px solid black;
}

#nav {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav img {
  height: 60px;
}

#nleft,
#nright {
  display: flex;
  align-items: center;
  gap: 50px;
}
#nav a {
  color: #fff;
  font-family: gilroy;
  font-size: 18px;
  font-weight: 600px;
  text-decoration: none;
  text-transform: uppercase;
}

#hero{
  width: 100%;
  height: 100px;
  background-color: aquamarine;
}
