* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: gilroy;
  src: url("./Gilroy-Medium.ttf");
}
@font-face {
  font-family: kaiju;
  src: url("./Kajiro\ Bold.ttf");
}

#main {
  height: 100vh;
  width: 100%;
  background-color: black;
}

#back {
  height: 100vh;
  width: 100%;
  background-color: rgb(49, 171, 165);
}
#top {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(46, 126, 144);
}
#workingarea {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  max-width: 1920px;

  position: relative;
}

#nav {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav img {
  height: 60px;
}

#nleft,
#nright {
  display: flex;
  align-items: center;
  gap: 50px;
}
#nav a {
  color: #fff;
  font-family: gilroy;
  font-size: 18px;
  font-weight: 600px;
  text-decoration: none;
  text-transform: uppercase;
}

#hero {
  width: 100%;

  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
  transform: translate(0%, -50%);
}

#heroleft {
  min-width: 50%;
}
#heroleft .elem {
  height: 9vw;
  overflow: hidden;
}
#heroleft .elem h1 {
  font-family: kaiju;
  line-height: 0.9;
  font-weight: 100;
  font-size: 11vw;
  color: #fff;
}
#heroleft button{
  padding: .8vw 3vw;
  font-size: 3vw;
  margin-top: 3vw;
  font-family: kaiju;
}
#heroright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25%;
  color: #fff;
  background-color: rgb(175, 65, 25);
}
#heroright p{
  
  font-size: 19px;
  font-weight: 300;
  text-align: right;
}
