* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: gilroy;
  src: url("./Gilroy-Medium.ttf");
}
@font-face {
  font-family: kaiju;
  src: url("./Kajiro\ Bold.ttf");
}

#main {
  height: 100vh;
  width: 100%;
  
}

#back {
  height: 100vh;
  width: 100%;
  
}

#back img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#top {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#workingarea {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  max-width: 1920px;

  position: relative;
}

#nav {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav img {
  height: 60px;
}

#nleft,
#nright {
  display: flex;
  align-items: center;
  gap: 50px;
}
#nav a {
  pointer-events: all;
  color: #fff;
  font-family: gilroy;
  font-size: 18px;
  font-weight: 600px;
  text-decoration: none;
  text-transform: uppercase;
}

#hero {
  width: 100%;

  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
  transform: translate(0%, -50%);
}

#heroleft {
  min-width: 50%;
}
#heroleft .elem {
  height: 9vw;
  overflow: hidden;
}
#heroleft .elem h1 {
  font-family: kaiju;
  line-height: 0.9;
  font-weight: 100;
  font-size: 11vw;
  color: #fff;
}
#heroleft button {
  pointer-events: all;
  padding: 0.8vw 3vw;
  font-size: 3vw;
  margin-top: 3vw;
  font-family: kaiju;
}
#heroright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 19%;
  color: #fff;
  
}
#heroright p {
  font-size: 19px;
  font-weight: 300;
  text-align: right;
}
#heroright #imagediv {
  width: 100%;
  height: 170px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-image: url("https://plus.unsplash.com/premium_photo-1761576208812-4f3dca8e4881?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fHx8&auto=format&fit=crop&q=60&w=600");
  background-size: cover;
  background-position: center;
}

#heroright p:nth-child(3) {
  
  margin-bottom: 100px;
}
