* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color: black;
}

.cursor{
  position: absolute;
  top:-25px;
  left:-25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: brown;
  pointer-events: none;
}
