* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
*::selection {
  color: #fff;
  background-color: #000;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
@font-face {
  font-family: futura;
  src: url("./Assets/Fonts/Futura-Bold.ttf");
}
@font-face {
  font-family: helnow;
  src: url("./Assets/Fonts/HelveticaNowText-Regular.ttf");
}

#page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 0 1vw;
  padding-top: 32vh;
  background-color: aqua;
}
#page1 h1 {
  font-family: futura;
  text-transform: uppercase;
  font-size: 14vw;
  line-height: 13vw;
  text-align: center;
}

#video-container {
  height: 100vh;

  width: 100%;
  margin-top: 1vw;
  position: relative;
}
#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#video-container #play {
  padding: 2.6vw 1.8vw;
  font-size: 1.5vw;
  color: #fff;
  background-color: black;
  font-family: helnow;
  position: fixed;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
}
#page2 {
  height: 150vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5vw 1vw;
  gap: 30px;
}

#page2 .elem {
  
  height: 100%;
  width: 32%;
  background-color: darkgoldenrod;
}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
