* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
*::selection {
  color: #fff;
  background-color: #000;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
}
@font-face {
  font-family: futura;
  src: url("./Assets/Fonts/Futura-Bold.ttf");
}
@font-face {
  font-family: helnow;
  src: url("./Assets/Fonts/HelveticaNowText-Regular.ttf");
}
#nav {
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 1.2vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#nav-part1 {
  height: 9.6vh;
  overflow: hidden;
}
#nav-part1 svg {
  display: block;
}
#nav #nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4vw;
}
#links {
  padding: 10px;
}
#nav-part2 #links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 2vh;
  margin-right: 3.1vw;
}
#icons {
  padding: 10px 20px;
  display: flex;
  gap: 2vw;
  border-radius: 25px;
  background-color: #f7f7f7;
}

#nav-part2 #icons i {
  font-size: 2vh;
}
#cursor {
  height: 255px;
  width: 255px;
  background-color: rgba(162, 26, 167, 0.274);
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);
}
#page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 0 1vw;
  padding-top: 32vh;
}
#page1 h1 {
  font-family: futura;
  text-transform: uppercase;
  font-size: 14vw;
  line-height: 13vw;
  text-align: center;
}

#video-container {
  height: 100vh;
  width: 100%;
  margin-top: 1vw;
  position: relative;
}
#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#video-container #play {
  padding: 2.6vw 1.8vw;
  font-size: 1.5vw;
  color: #fff;
  background-color: black;
  font-family: helnow;
  position: fixed;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
}
#page2 {
  min-height: 130vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3vw 1vw;
  gap: 30px;
}

#page2 .elem {
  height: 100%;
  width: 32%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.2;
}
.dets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 2vw;
}
.dets .circle {
  height: 1vh;
  width: 1vh;
  background-color: #000;
  border-radius: 50%;
}
.dets i {
  font-size: 1.5vw;
}
.dets a {
  text-decoration: none;
  color: #000;
  font-size: 1vw;
  font-family: helnow;
}
.dets span {
  font-weight: 900;
}
.elem .dets {
  height: 60px;
  width: 60%;
  background-color: #dcc0b4;
  position: absolute;
  z-index: 99;
  border-radius: 25px;
}
/* .elem .dets:hover{
  height: 200px;
} */
#page3 {
  min-height: 110vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.child {
  height: 85vh;
  width: 47vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 8.5vw;
}
.child img {
  height: 100%;
  object-fit: cover;
}
.box {
  height: 100%;
  text-align: center;
  font-family: helnow;
}

#page4 {
  min-height: 20vh;
  width: 100%;
  padding: 0 0.7vw;
}
#page4 .up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.63);
}
#page4 .up h3 {
  font-size: 1.8vh;
  font-family: helnow;
  font-weight: 100;
}

#page4 .down {
  display: flex;
  justify-content: space-between;
  padding: 0 1vw;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.card .c1 {
  height: 2vh;
  width: 2vh;
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 50%;
}
.card button {
  font-size: 1.8vw;
  border: none;
  background-color: #f7f7f7;
  font-family: helnow;
  font-weight: 100;
}

.page4-text {
  margin-top: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page4-text h1 {
  font-size: 5.5vw;
  font-family: futura;
  font-weight: 500;
}

.page4-text button {
  margin-top: 6vw;
  background-color: #000;
  padding: 1.6vw 4vw;
  font-size: 2.1vh;
  color: #f7f7f7;
  border-radius: 50px;
}
.page4-text p{
  font-size: 3vh;
  margin-top: 2vw;
}

.page5{
  height: 100vh;
  width: 100%;
  margin-top: 6vw;
  display: flex;
  padding: 2vw 1vw;
  gap: 15px;

}
.page5-left{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  justify-content: flex-start;
}
.page5-left h1{
  font-family: futura;
  font-weight: 500;
  font-size: 1.7vw;
}
.page5-left p{
  font-family: helnow;
  font-size: 2.9vh;
  width: 65%;
}

.page5-right{
  height: 100%;
  width: 70%;
  display: flex;
  justify-content:flex-start;
  gap: 25px; 
}
.page5-right img{
  width: 50%;
  object-fit: cover;
  height: 100%;
}

.page6{
  height: 130vh;
  width: 100%;
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
  margin-top: 5vw;
  
}

.page6 h1{
  font-family: futura;
  font-weight: 100;
  font-size: 2.5vw;
  border-bottom: 1px solid #0000003d;
}

.page6 .middle-content{
  margin-top: 13vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 600px) {
  #nav {
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 0.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  #nav-part1 {
    height: 9.6vh;
    overflow: hidden;
  }
  #nav-part1 svg {
    display: block;
  }
  #nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4vw;
  }
  #links {
    padding: 10px;
    display: none;
  }
  #nav-part2 #links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 2vh;
    margin-right: 3.1vw;
  }
  #icons {
    padding: 10px 20px;
    display: flex;
    gap: 2vw;
    border-radius: 25px;
    background-color: #f7f7f7;
  }

  #nav-part2 #icons i {
    font-size: 2vh;
  }
  #page1 {
    min-height: 70vh;
    width: 100%;
    padding: 0 1.3vw;
    padding-top: 32vh;
  }
  #page1 h1 {
    font-family: futura;
    font-weight: 500;
    font-size: 14vw;
    line-height: 14vw;
    text-align: left;
    letter-spacing: -3px;
  }
  #video-container {
    height: 25vh;
    width: 100%;
    margin-top: 3vw;
  }
  #video-container #play {
    padding: 7vw 5.2vw;
    font-size: 4.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%);
  }
  #page2 {
    min-height: 130vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5vw 3vw;
    gap: 30px;
  }

  #page2 .elem {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  #page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
  }
  .elem .dets {
    height: 60px;
    width: 70%;
    background-color: #dcc0b4;
    position: absolute;
    z-index: 99;
    border-radius: 25px;
  }
  #page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .child {
    height: 54vh;
    width: 88vw;
    position: relative;
    padding: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .child img {
    height: 100%;
    object-fit: cover;
  }
}
