* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: domaine;
  src: url("./Fonts/domain.ttf");
}
@font-face {
  font-family: canopee;
  src: url("./Fonts/canopee.ttf");
}

#main {
  background-color: #222;
  overflow-x: hidden;
}

#page1 {
  height: 120vh;
  width: 100vw;
  overflow: hidden;
  background-color: #c6beb5;
  position: relative;
}
#nav {
  height: 110px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #222;
}
#nav img {
  height: 30px;
  width: 30%;
}
#nav h5 {
  font-size: 18px;
  width: 30%;
  font-weight: 200;
  font-family: domaine;
}

#nav i {
  font-size: 20px;
  width: 30%;
  text-align: right;
}
#elems {
  
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
}
#elem1 {
  width: 30%;
  height: 100%;
  
}

#elem2 {
  width: 30%;
  height: 100%;
  border-left: 2px solid #8e8d8d;
  border-right: 2px solid #8e8d8d;
  padding: 20px 60px;
  text-align: center;
  position: relative;
}
#elem3 {
  width: 30%;
  height: 100%;
  
}
#elem1 #image-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
}
#image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.4s;
}
#image-div:hover img {
  scale: 1.1;
}
#elem3 #image-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
}
#elem1 h4 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: canopee;
  font-weight: 600;
}
#elem1 h4 span {
  background-color: #b73c12;
  color: #fff;
  font-weight: 100;
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 10px;
}
#elem1 p {
  font-size: 22px;
  font-family: domaine;
  font-weight: 100;
  color: #5f5c5c;
}
#elem3 h4 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: canopee;
  font-weight: 600;
}
#elem3 h4 span {
  background-color: #b73c12;
  color: #fff;
  font-weight: 100;
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 10px;
}
#elem3 p {
  font-size: 22px;
  font-family: domaine;
  font-weight: 100;
  color: #5f5c5c;
}

#elem2 h2 {
  font-family: canopee;
  font-size: 75px;
  font-weight: 100;
}
#elem2 h3 {
  font-family: domaine;
  font-size: 50px;
  font-weight: 100;
  color: #363535;
  margin: 20px 0;
}
#elem2 h6 {
  font-family: domaine;
  font-size: 25px;
  font-weight: 100;
  color: #363535;

  margin-top: 55px;
}

#page1 h1 {
  font-size: 600px;
  letter-spacing: 10px;
  font-family: canopee;
  font-weight: 100;
  background-color: #1c1c1a;
  color: #c6beb5;
  line-height: 500px;
  width: 95%;
  margin-left: 2%;
}

#page2 {
  height: 155vh;
  width: 100%;
  background-color: #c6beb5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
}
#page2-left {
  height: 100%;
  width: 30%;
  padding-right: 50px;
  width: 35%;
  border-right: 1px solid #4b4b4b;
}
#page2-left h1 {
  font-size: 110px;
  font-family: canopee;
  text-align: center;
  line-height: 130px;
  font-weight: 100;
}
#page2-left h1 span {
  font-size: 180px;
  font-family: canopee;
  text-align: center;
  line-height: 140px;
  font-weight: 600;
}
#page2-left img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
#page2-left p {
  font-size: 40px;
  font-family: domaine;
  font-weight: 100;
  color: #302d2d;
}
#page2-left span {
  font-family: canopee;
  font-size: 100px;
  font-weight: 100;
}
#page2-right {
  height: 100%;
  width: 80%;
  padding: 0 60px;
}

#page2-right img {
  height: 55%;
  width: 100%;
  object-fit: cover;
}

#page2-right h2 {
  font-size: 130px;
  font-family: canopee;
  line-height: 135px;
  font-weight: 100;
}

#page3 {
  padding-bottom: 20px;
  position: relative;
  background-color: #c4bcb3;
}

#page3 h1 {
  font-size: 550px;
  font-weight: 100;
  letter-spacing: -10px;
  background-color: #1c1c19;
  width: fit-content;
  color: #c4bcb3;
  margin-left: 2%;
  padding: 0 20px;
  line-height: 500px;
  font-family: canopee;
}

#page3 img {
  height: 450px;
  position: absolute;
  top: 0;
  right: 3%;
}


