* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: domaine;
  src: url("./Fonts/domain.ttf");
}
@font-face {
  font-family: canopee;
  src: url("./Fonts/domain.ttf");
}

#page1 {
  height: 100vh;
  width: 100vw;
  background-color: #c6beb5;
  position: relative;
  overflow-x: hidden;
}
#nav {
  height: 110px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #222;
}
#nav img {
  height: 30px;
  width: 30%;
}
#nav h5 {
  font-size: 18px;
  width: 30%;
  font-weight: 200;
  font-family: domaine;
}

#nav i {
  font-size: 20px;
  width: 30%;
  text-align: right;
}
#elems {
  /* background-color: cadetblue; */
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
}
#elem1 {
  width: 30%;
  height: 100%;
  /* background-color: cornflowerblue; */
}

#elem2 {
  width: 30%;
  height: 100%;
  /* background-color: rgb(7, 40, 101); */
  border-left: 2px solid #8e8d8d;
  border-right: 2px solid #8e8d8d;
  padding: 20px 60px;
  text-align: center;
  position: relative;
}
#elem3 {
  width: 30%;
  height: 100%;
  /* background-color: rgb(105, 140, 205); */
}
#elem1 #image-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
}
#image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.4s;
}
#image-div:hover img {
  scale: 1.1;
}
#elem3 #image-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
}
#elem1 h4 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: canopee;
  font-weight: 600;
}
#elem1 h4 span {
  background-color: #b73c12;
  color: #fff;
  font-weight: 100;
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 10px;
}
#elem1 p {
  font-size: 22px;
  font-family: domaine;
  font-weight: 100;
  color: #5f5c5c;
}
#elem3 h4 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: canopee;
  font-weight: 600;
}
#elem3 h4 span {
  background-color: #b73c12;
  color: #fff;
  font-weight: 100;
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 10px;
}
#elem3 p {
  font-size: 22px;
  font-family: domaine;
  font-weight: 100;
  color: #5f5c5c;
}

#elem2 h2 {
  font-family: canopee;
  font-size: 75px;
  font-weight: 100;
}
#elem2 h3 {
  font-family: domaine;
  font-size: 50px;
  font-weight: 100;
  color: #363535;
  margin: 20px 0;
}
#elem2 h6 {
  font-family: domaine;
  font-size: 25px;
  font-weight: 100;
  color: #363535;

  margin-top: 55px;
}

#page1 h1 {
  font-size: 535px;
  letter-spacing: -10px;
  font-family: canopee;
  font-weight: 100;
  background-color: #1c1c1a;
  color: #c6beb5;
  line-height: 500px;
  width: 95%;
  margin-left: 2%;
}
