* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #010101;
}

.crousel-scene{
    height: 100vh;
    width: 100%;
    perspective: 1300px;
    overflow: hidden;

}

.crousel{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 8s linear infinite;
}

.crousel-items{
    height: 40%;
    width: 18%;
    position: absolute;
    /* backface-visibility: hidden; */
}

.crousel-items img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.crousel:hover{
    animation-play-state: paused;
}

.crousel-items:nth-child(1){
    transform: rotateY(0deg) translateZ(400px);
}
.crousel-items:nth-child(2){
    transform: rotateY(45deg) translateZ(400px);
}
.crousel-items:nth-child(3){
    transform: rotateY(90deg) translateZ(400px);
}
.crousel-items:nth-child(4){
    transform: rotateY(135deg) translateZ(400px);
}
.crousel-items:nth-child(5){
    transform: rotateY(180deg) translateZ(400px);
}
.crousel-items:nth-child(6){
    transform: rotateY(225deg) translateZ(400px);
}
.crousel-items:nth-child(7){
    transform: rotateY(270deg) translateZ(400px);
}
.crousel-items:nth-child(8){
    transform: rotateY(315deg) translateZ(400px);
}

@keyframes spin{
    from{
        transform: rotateY(0) scale(1);
    }
    to{
        transform: rotateY(-360deg) scale(1.2);
    }

}
