body{
    background-color: black;
    color: cyan;
}
div{
    padding: 20px;
}

.parent{
    background-color: rgb(144, 144, 27);
    display: flex;
    gap: 20px 10px;
    flex-wrap: wrap;
    justify-content: center;
    

}

.child{ 
    background-color: brown;
}

