* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: #207d74;
}

@font-face {
  font-family: sodoBold;
  src: url("./Assets/Fonts/SoDoSans-Bold.49f6eaa3.ttf");
}
@font-face {
  font-family: sodoRegular;
  src: url("./Assets/Fonts/SoDoSans-Regular.fb96a065.ttf");
}
@font-face {
  font-family: sodoSemiBold;
  src: url("./Assets/Fonts/SoDoSans-SemiBold.6aebdeb6.ttf");
}

.nav {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #33333357;
  padding: 20px 40px;
}
.nav-left {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-left a {
  text-decoration: none;
  font-size: 20px;
  font-family: sodoBold;
  color: #222;
}

.nav-left img {
  height: 65px;
  margin-right: 20px;
}

.nav-right {
  display: flex;
  gap: 70px;
  align-items: center;
  padding: 0 20px;
  font-family: sodoRegular;
}
.nav-right img{
  margin-right: 10px;
}

.nav-right a{
  font-size: 19px;
  text-decoration: none;
  color: #222;
  
}
.nav-right #first{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 17px;
  background-color: #ffffff ;
  border: 1px solid #222;
  margin-right: 20px;
  font-family: sodoRegular;
}
.nav-right #first:hover{
  background-color:#E5E5E5;
}
.nav-right #second{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 17px;
  background-color: #222;
  border:none;
  color: #ffffff;
  font-family: sodoRegular;

}
.nav-right #second:hover{
  background-color:#4C4C4C;
}
.green-div{
  height: 120px;
  background-color: #32462F;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 40px;
}

.green-div p{
  font-size: 25px;
  font-family: sodoRegular;
}
.green-div button{
  padding: 10px 20px;
  font-family: sodoRegular;
  font-size: 25px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid #fffbfb;
  color: #fffbfb;
}
.green-div button:hover{
  background-color:#00754A;
}

.box{
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.box1{
  height: 800px;
  width: 100%;
  background-color: burlywood;
}
.box2{
  height: 800px;
  width: 100%;
  background-color: rgb(168, 116, 49);
}
.box3{
  height: 800px;
  width: 100%;
  background-color: rgb(65, 29, 155);
}
.box4{
  height: 800px;
  width: 100%;
  background-color: rgb(103, 116, 30);
}

