* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  background-color: darkgoldenrod;
}

@font-face {
  font-family: sodoBold;
  src: url("./Assets/Fonts/SoDoSans-Bold.49f6eaa3.ttf");
}
@font-face {
  font-family: sodoRegular;
  src: url("./Assets/Fonts/SoDoSans-Regular.fb96a065.ttf");
}
@font-face {
  font-family: sodoSemiBold;
  src: url("./Assets/Fonts/SoDoSans-SemiBold.6aebdeb6.ttf");
}

.nav{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
    padding: 20px 40px;
    
    
}
.nav-left{
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-left a{
  text-decoration: none;
  font-size: 20px;
}

.nav-left img{
    height: 70px;
    margin-right: 20px;
}