* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: #207d74;
}

@font-face {
  font-family: sodoBold;
  src: url("./Assets/Fonts/SoDoSans-Bold.49f6eaa3.ttf");
}
@font-face {
  font-family: sodoRegular;
  src: url("./Assets/Fonts/SoDoSans-Regular.fb96a065.ttf");
}
@font-face {
  font-family: sodoSemiBold;
  src: url("./Assets/Fonts/SoDoSans-SemiBold.6aebdeb6.ttf");
}

.nav {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #33333357;
  padding: 20px 40px;
}
.nav-left {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-left a {
  text-decoration: none;
  font-size: 20px;
  font-family: sodoBold;
  color: #222;
}

.nav-left img {
  height: 65px;
  margin-right: 20px;
}

.nav-right {
  display: flex;
  gap: 70px;
  align-items: center;
  padding: 0 20px;
  font-family: sodoRegular;
}
.nav-right img {
  margin-right: 10px;
}

.nav-right a {
  font-size: 19px;
  text-decoration: none;
  color: #222;
}
.nav-right #first {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 17px;
  background-color: #ffffff;
  border: 1px solid #222;
  margin-right: 20px;
  font-family: sodoRegular;
}
.nav-right #first:hover {
  background-color: #e5e5e5;
}
.nav-right #second {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 17px;
  background-color: #222;
  border: none;
  color: #ffffff;
  font-family: sodoRegular;
}
.nav-right #second:hover {
  background-color: #4c4c4c;
}
.green-div {
  height: 120px;
  background-color: #32462f;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 40px;
}

.green-div p {
  font-size: 25px;
  font-family: sodoRegular;
}
.green-div button {
  padding: 10px 20px;
  font-family: sodoRegular;
  font-size: 25px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid #fffbfb;
  color: #fffbfb;
}
.green-div button:hover {
  background-color: #00754a;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 0 4vh;
}

.box1 {
  height: 800px;
  width: 100%;
  background-color: #9E0025;
  display: flex;
}
.box1-left {
  height: 100%;
  width: 70%;
}
.box1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}
.box1-right{
  height: 100%;
  width: 50%;
  text-align: center;
  padding: 40px 50px ;
  margin: 90px; 
}
.box1-right h1{
  font-size: 66px;
  letter-spacing: 2px;
  margin-bottom: 45px;
  font-family: sodoBold; 
}
.box1-right p{
  font-size: 34px;
  margin-bottom:55px ;
  font-family: sodoRegular;
}
.box1-right button{
  background-color: #e5e5e5;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 25px;
  border-style: none;
}

.box2 {
  height: 800px;
  width: 100%;
  background-color: rgb(168, 116, 49);
}

.box3 {
  height: 800px;
  width: 100%;
  background-color: #006241;
  display: flex;
}


.box3-left {
  height: 100%;
  width: 70%;
}
.box3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}
.box3-right{
  height: 100%;
  width: 50%;
  text-align: center;
  padding: 40px 50px ;
  margin: 90px; 
}
.box3-right h1{
  font-size: 66px;
  letter-spacing: 2px;
  margin-bottom: 45px;
  font-family: sodoBold; 
}
.box3-right p{
  font-size: 34px;
  margin-bottom:55px ;
  font-family: sodoRegular;
}
.box3-right button{
  background-color: #e5e5e5;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 25px;
  border-style: none;
}





.box4 {
  height: 800px;
  width: 100%;
  background-color: rgb(103, 116, 30);
}
