* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: #207d74;
}

@font-face {
  font-family: sodoBold;
  src: url("./Assets/Fonts/SoDoSans-Bold.49f6eaa3.ttf");
}
@font-face {
  font-family: sodoRegular;
  src: url("./Assets/Fonts/SoDoSans-Regular.fb96a065.ttf");
}
@font-face {
  font-family: sodoSemiBold;
  src: url("./Assets/Fonts/SoDoSans-SemiBold.6aebdeb6.ttf");
}

.nav {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #33333357;
  padding: 20px 40px;
}
.nav-left {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-left a {
  text-decoration: none;
  font-size: 20px;
  font-family: sodoBold;
  color: #222;
}

.nav-left img {
  height: 65px;
  margin-right: 20px;
}

.nav-right {
  display: flex;
  gap: 70px;
  align-items: center;
  padding: 0 20px;
  font-family: sodoRegular;
}
.nav-right img {
  margin-right: 10px;
}

.nav-right a {
  font-size: 19px;
  text-decoration: none;
  color: #222;
}
.nav-right #first {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 17px;
  background-color: #ffffff;
  border: 1px solid #222;
  margin-right: 20px;
  font-family: sodoRegular;
}
.nav-right #first:hover {
  background-color: #e5e5e5;
}
.nav-right #second {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 17px;
  background-color: #222;
  border: none;
  color: #ffffff;
  font-family: sodoRegular;
}
.nav-right #second:hover {
  background-color: #4c4c4c;
}
.green-div {
  height: 120px;
  background-color: #32462f;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 40px;
}

.green-div p {
  font-size: 25px;
  font-family: sodoRegular;
}
.green-div button {
  padding: 10px 20px;
  font-family: sodoRegular;
  font-size: 25px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid #fffbfb;
  color: #fffbfb;
}
.green-div button:hover {
  background-color: #00754a;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 0 6.5vh;
}

.box1 {
  height: 800px;
  width: 100%;
  background-color: #9e0025;
  display: flex;
}
.box1-left {
  height: 100%;
  width: 70%;
}
.box1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box1-right {
  height: 100%;
  width: 50%;
  text-align: center;
  padding: 40px 50px;
  margin: 90px;
}
.box1-right h1 {
  font-size: 66px;
  letter-spacing: 2px;
  margin-bottom: 45px;
  font-family: sodoBold;
}
.box1-right p {
  font-size: 34px;
  margin-bottom: 55px;
  font-family: sodoRegular;
}
.box1-right button {
  background-color: #e5e5e5;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 25px;
  border-style: none;
}
.box1-right button:hover {
  background-color: #ecccd3;
}

.box2 {
  height: 550px;
  width: 100%;
  background-color: #AA1D38;
  display: flex;
  color:#e5e5e5;
}
.box2-right {
  height: 100%;
  width: 70%;
}
.box2-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box2-left {
  height: 100%;
  width: 50%;
  text-align: center;
  padding: 40px 50px;
  margin: 90px;
}
.box2-left h1 {
  font-size: 1.5vw;
  letter-spacing: 2px;
  margin-bottom: 45px;
  font-family: sodoSemiBold;
  font-weight: 100;
}

.box2-left p {
  font-size: 3.1vh;
  margin-bottom: 55px;
  line-height: 2vw;
  font-weight: 100;
  font-family: sodoRegular;
}
.box2-left button {
  background-color: transparent;
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  
}
.box2-left button:hover {
  background-color: #88172D;
}

.box3 {
  height: 800px;
  width: 100%;
  background-color: #006241;
  display: flex;
}

.box3-left {
  height: 100%;
  width: 70%;
}
.box3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box3-right {
  height: 100%;
  width: 50%;
  text-align: center;
  padding: 40px 50px;
  margin: 90px;
}
.box3-right h1 {
  font-size: 66px;
  letter-spacing: 2px;
  margin-bottom: 45px;
  font-family: sodoBold;
}
.box3-right p {
  font-size: 34px;
  margin-bottom: 55px;
  font-family: sodoRegular;
}
.box3-right button {
  background-color: #e5e5e5;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 25px;
  border-style: none;
}
.box3-right button:hover {
  background-color: #cce0d9;
}

.box4 {
  height: 800px;
  width: 100%;
  background-color: rgb(103, 116, 30);
}

.box5 {
  height: 550px;
  width: 100%;
  background-color: #f1f0e4;
  display: flex;
  color: #222;
}

.box5-left {
  height: 100%;
  width: 70%;
}
.box5 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box5-right {
  height: 100%;
  width: 55%;
  text-align: center;
  padding: 40px 50px;
  margin: 90px;
}
.box5-right h1 {
  font-size: 1.5vw;
  letter-spacing: 2px;
  margin-bottom: 45px;
  font-family: sodoSemiBold;
  font-weight: 100;
}
.box5-right p {
  font-size: 3.1vh;
  margin-bottom: 55px;
  line-height: 2vw;
  font-weight: 100;
  font-family: sodoRegular;
}
.box5-right button {
  background-color: #253f37;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 25px;
  border-style: none;
  color: #e5e5e5;
}

.box5-right button:hover {
  background-color: #334b43;
}
