* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: #ffffff;
}

@font-face {
  font-family: sodoBold;
  src: url("./Assets/Fonts/SoDoSans-Bold.49f6eaa3.ttf");
}
@font-face {
  font-family: sodoRegular;
  src: url("./Assets/Fonts/SoDoSans-Regular.fb96a065.ttf");
}
@font-face {
  font-family: sodoSemiBold;
  src: url("./Assets/Fonts/SoDoSans-SemiBold.6aebdeb6.ttf");
}

.nav {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 40px;
}
.nav-left {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-left a {
  text-decoration: none;
  font-size: 20px;
  font-family: sodoBold;
  color: #222;
}

.nav-left img {
  height: 70px;
  margin-right: 20px;
}

.nav-right {
  display: flex;
  gap: 70px;
  align-items: center;
  padding: 0 20px;
}
.nav-right img{
  margin-right: 10px;
}

.nav-right a{
  font-size: 19px;
  text-decoration: none;
  color: #222;
  font-family: sodoRegular;
}
.nav-right #first{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 17px;
  background-color: #ffffff ;
  border: 1px solid #222;
  margin-right: 20px;
}
.nav-right #first:hover{
  background-color:#E5E5E5;
}
.nav-right #second{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 17px;
  background-color: #222;
  border:none;
  color: #ffffff;

}
.nav-right #second:hover{
  background-color:#4C4C4C;
}


